<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/src')
    ->exclude('var')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony'                  => true,
        '@PSR12'                    => true,
        'array_syntax'              => ['syntax' => 'short'],
        'single_line_comment_style' => [],
        'phpdoc_to_comment'         => false,
        'cast_spaces'               => ['space' => 'none'],
        'binary_operator_spaces'    => [
            'operators' => ['=>' => 'align_single_space'],
        ],
    ])
    ->setFinder($finder)
;
