<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('var')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'single_line_comment_style' => [],
        'cast_spaces' => ['space' => 'none'],
        'binary_operator_spaces' => [
            'operators' => ['=>' => 'align_single_space']
        ],
    ])
    ->setFinder($finder)
;
