includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
parameters:
    level: max

    paths:
        - src
    excludePaths:
        - tests/**/*
        - stubs/**/*
        - src/Infrastructure/Aop/**/*
        - src/Infrastructure/Aop/*
        - **/.phpstorm.meta.php
