.alert {
  border-radius: var(--border-radius, 4px);
  border: 1px solid hsl(var(--theme--color-h), var(--theme--color-s), calc(var(--theme--color-l) + 30%));
  color: hsl(var(--theme--color-h), var(--theme--color-s), calc(var(--theme--color-l) - 20%));
  background-color: hsla(var(--theme--color-h), var(--theme--color-s), calc(var(--theme--color-l) + 30%), .3);
  padding: .5rem 1.5rem;

  li {
    list-style-type: disc;
    margin-left: 1ex;
  }

  li:last-child:first-child {
    list-style-type: none;
    margin-left: 0;
  }
}
